
footer .footer {
    display: block;
    position: fixed;
    width: 510px;
    height: 85px;
    background: #616163;
    top: 92%;
    z-index: 3;
}

footer span {
    display: block;
    position: relative;
    text-align: center;
    color: #e77d14;
    text-shadow: 0 0 10px #e77d14,
    0 0 20px #e77d14;
    transform: translateY(5px) translateX(-40px);
}

@media (min-width: 500px) {
    footer .footer {
        display: block;
        position: fixed;
        width: 610px;
        height: 85px;
        background: #616163;
        top: 92%;
        z-index: 3;
    }

    footer span {
        display: block;
        position: relative;
        text-align: center;
        color: #e77d14;
        text-shadow: 0 0 10px #e77d14,
        0 0 20px #e77d14;
        transform: translateY(5px) translateX(-30px);
    }
}
@media (min-width: 600px) {
    footer .footer {
        display: block;
        position: fixed;
        width: 710px;
        height: 85px;
        background: #616163;
        top: 92%;
        z-index: 3;
    }

    footer span {
        display: block;
        position: relative;
        text-align: center;
        color: #e77d14;
        text-shadow: 0 0 10px #e77d14,
        0 0 20px #e77d14;
        transform: translateY(5px) translateX(-25px);
    }
}
@media (min-width: 700px) {
    footer .footer {
        display: block;
        position: fixed;
        width: 810px;
        height: 85px;
        background: #616163;
        top: 92%;
        z-index: 3;
    }

    footer span {
        display: block;
        position: relative;
        text-align: center;
        color: #e77d14;
        text-shadow: 0 0 10px #e77d14,
        0 0 20px #e77d14;
        transform: translateY(5px) translateX(-20px);
    }
}
@media (min-width: 800px) {
    footer .footer {
        display: block;
        position: fixed;
        width: 910px;
        height: 85px;
        background: #616163;
        top: 92%;
        z-index: 3;
    }

    footer span {
        display: block;
        position: relative;
        text-align: center;
        color: #e77d14;
        text-shadow: 0 0 10px #e77d14,
        0 0 20px #e77d14;
        transform: translateY(5px) translateX(-10px);
    }
}
@media (min-width: 900px) {
    footer .footer {
        display: block;
        position: fixed;
        width: 1010px;
        height: 85px;
        background: #616163;
        top: 92%;
        z-index: 3;
    }

    footer span {
        display: block;
        position: relative;
        text-align: center;
        color: #e77d14;
        text-shadow: 0 0 10px #e77d14,
        0 0 20px #e77d14;
        transform: translateY(5px);
    }
}
@media (min-width: 1000px) {
    footer .footer {
        display: block;
        position: fixed;
        width: 1310px;
        height: 85px;
        background: #616163;
        top: 92%;
        z-index: 3;
    }

    footer span {
        display: block;
        position: relative;
        text-align: center;
        color: #e77d14;
        text-shadow: 0 0 10px #e77d14,
        0 0 20px #e77d14;
        transform: translateY(5px);
    }
}
@media (min-width: 1250px) {
    footer .footer {
        display: block;
        position: fixed;
        width: 1480px;
        height: 85px;
        background: #616163;
        top: 92%;
        z-index: 3;
    }

    footer span {
        display: block;
        position: relative;
        text-align: center;
        color: #e77d14;
        text-shadow: 0 0 10px #e77d14,
        0 0 20px #e77d14;
        transform: translateY(5px);
    }
}
@media (min-width: 1450px) {
    footer .footer {
        display: block;
        position: fixed;
        width: 1980px;
        height: 85px;
        background: #616163;
        top: 92%;
        z-index: 3;
    }

    footer span {
        display: block;
        position: relative;
        text-align: center;
        color: #e77d14;
        text-shadow: 0 0 10px #e77d14,
        0 0 20px #e77d14;
        transform: translateY(5px) translateX(-200px);
    }
}




@media (min-width: 1650px) {
    footer .footer {
        display: block;
        position: fixed;
        width: 1920px;
        height: 75px;
        background: #616163;
        top: 95%;
        z-index: 3;
    }

    footer span {
        display: block;
        text-align: center;
        color: #e77d14;
        text-shadow: 0 0 10px #e77d14,
        0 0 20px #e77d14;
        transform: translateY(5px);
    }
}